/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
:root{
    --main-bg-color:#255ee9;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.flex-cont {
    display: flex;
}

.just-center{
    justify-content: center;
}

/* HEAD */
header {
    padding: 15px;
    background-color: var(--main-bg-color);
    /* debug
    background-color: rgb(108, 161, 208); */

}

header .link-head{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.link-head a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

 header .container {
    align-items: center;
     /* Debug 
     background-color: yellowgreen;  */
} 

.accedi a{
    color: black;
    text-decoration: none;
}

.accedi{
    background-color: white;
    padding: 10px;
    border-radius:20px;
}


.container .headsect {
    margin: 10px;
}

.headsect a:hover {
    color: blue;
    font-size: larger;
}

.headsect:nth-child(1),
.headsect:nth-child(3) {
    width: 30%;
}

.headsect:nth-child(2) {
    width: 70%;
}


/* Sezione 2 */
.sez2 {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    padding-top: 110px;
    /* debug
    background-color: rgba(44, 44, 226, 0.371);
    padding: 30px 0; */
}

.sez2-cont {
    text-align: center;
    padding: 50px;
    color: white;
    font-family: sans-serif;
    /* debug 
    margin: 50px;
    background-color: lightgreen;
     min-height: 200px;
    border: 1px solid blue; */
}

.sez2-cont p{
    margin: 50px;
}

.bottoni-sez2 a{
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    display: inline-block;
    margin: 15px;
}

.bottoni-sez2{
    display: flex;
    justify-content: center;
}

.bottoni-sez2 .scarica{
    color: black;
    background-color: white;
    border-radius: 25px;
}

.bottoni-sez2 .apri{
    color: white;
    background-color: black;
    border-radius: 25px;
}


/* Sezione 3  */
.sez3 {
    background-color: white;
    /* debug */
    /* background-color: bisque;
    padding: 50px; */
}

.sez3 .container{
    align-items: center;
}

.sez3 h2{
    font-size: 40px;
    padding: 10px;
    font-family: sans-serif;
}

.sez3-cont:first-child {
    width: 70%;
    /* debug */
    /* min-height: 200px;
    background-color: aquamarine;
    border: 1px solid orange; */
}

.sez3-cont2 {
    width: 30%;
    /* debug */
    /* min-height: 200px;
    background-color: blueviolet;
    border: 1px solid rgb(46, 173, 0); */
}


/* Sezione 4 */
.sez4 {
    background-color: royalblue;
    padding: 50px;
}

.sez4-cont {
    background-color: burlywood;
    width: 50%;
    /* debug */
    min-height: 200px;
    border: 1px solid rgb(46, 173, 0);
}

.sez4-cont2 {
    background-color: lawngreen;
    width: 70%;
    /* debug */
    min-height: 200px;
    border: 1px solid rgb(46, 173, 0);
}


/* Sezione 5 */
.sez5 {
    background-color: azure;
    padding: 30px;
}

.sez5-cont:nth-child(1) {
    width: 70%;
    background-color: powderblue;
    /* debug */
    min-height: 200px;
    border: 1px solid rgb(104, 220, 62);
}

.sez5-cont:nth-child(2) {
    background-color: saddlebrown;
    width: 30%;
    /* debug */
    min-height: 200px;
    border: 1px solid rgb(227, 255, 18);
}

/* Sezione 6 */
.sez6 {
    background-color: teal;
    padding: 50px;
}

.sez6-cont {
    background-color: palegoldenrod;
    /* debug */
    min-height: 200px;
    border: 1px solid rgb(216, 28, 131);
}

/* Sezione 7 */
.sez7 {
    background-color: rgb(23, 33, 33);
    padding: 50px;
}

.sez7-cont:first-child {
    background-color: salmon;
    /* debug */
    min-height: 200px;
    border: 1px solid rgb(20, 0, 240);
}

.sez7-cont:nth-child(1n+2) {
    width: 20%;
    background-color: aqua;
    /* debug */
    min-height: 200px;
    border: 1px solid rgb(255, 60, 16);
}

/* Footer */
footer{
    padding: 50px;
    background-color: rgb(33, 31, 31);
    border-top: 2px solid white;
}
footer .container{
    background-color: palegoldenrod;
    align-content: space-between;
}

.foot-cont:first-child{
    flex-basis: 200px;
    margin: 50px 0;
    /* debug */
    min-height: 200px;
    border: 1px solid rgb(6, 125, 14);
}

.foot-cont:nth-child(2){
    width: 80%;
}

.foot-cont:nth-child(3){
    margin: 50px 0;
    
    /* debug */
    flex-basis: 200px;
    min-height: 200px;
    border: 1px solid rgb(123, 0, 255);
}