/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

/* COMMON */
:root {
    --main-bg-color: #255ee9;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.flex-cont {
    display: flex;
}

.just-center {
    justify-content: center;
}

.titolo-sez {
    font-size: 40px;
    font-family: sans-serif;
    padding: 15px;
}

.testo-sez {
    font-family: sans-serif;
    padding: 15px;
}

/* HEAD */
header {
    padding: 15px;
    background-color: var(--main-bg-color);
    /* debug
    background-color: rgb(108, 161, 208); */

}

header .link-head {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.link-head a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

header .container {
    align-items: center;
    /* Debug 
     background-color: yellowgreen;  */
}

.accedi a {
    color: black;
    text-decoration: none;
}

.accedi {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}


.container .headsect {
    margin: 10px;
}

/* .headsect a:hover {
    color: blue;
    font-size: larger;
} */

.headsect:nth-child(1),
.headsect:nth-child(3) {
    width: 30%;
}

.headsect:nth-child(2) {
    width: 70%;
}


/* Sezione 2 */
.sez2 {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    padding-top: 110px;
    /* debug
    background-color: rgba(44, 44, 226, 0.371);
    padding: 30px 0; */
}

.sez2-cont {
    text-align: center;
    padding: 50px;
    color: white;
    font-family: sans-serif;
    /* debug 
    margin: 50px;
    background-color: lightgreen;
     min-height: 200px;
    border: 1px solid blue; */
}

.sez2-cont p {
    margin: 50px;
}

.bottoni-sez2 a {
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    display: inline-block;
    margin: 15px;
}

.bottoni-sez2 {
    display: flex;
    justify-content: center;
}

.scarica {
    color: black;
    background-color: white;
    border-radius: 25px;
}

.apri {
    color: white;
    background-color: black;
    border-radius: 25px;
}


/* Sezione 3  */
.sez3 {
    background-color: white;
    /* debug */
    /* background-color: bisque;
    padding: 50px; */
}

.sez3 .container {
    align-items: center;
}


.sez3-cont:first-child {
    width: 70%;
    /* debug */
    /* min-height: 200px;
    background-color: aquamarine;
    border: 1px solid orange; */
}

.sez3-cont2 {
    width: 30%;
    /* debug */
    /* min-height: 200px;
    background-color: blueviolet;
    border: 1px solid rgb(46, 173, 0); */
}


/* Sezione 4 */
.sez4 {
    background-color: hsl(0deg 0% 96.47%);
    /* background-color: royalblue;
    padding: 50px; */
}

.sez4 .container {
    align-items: center;
}



.sez4-cont {
    width: 50%;
    /* debug */
    /* background-color: burlywood;
    min-height: 200px;
    border: 1px solid rgb(46, 173, 0); */
}

.sez4-cont2 {
    width: 70%;
    /* debug */
    /* background-color: lawngreen;
    min-height: 200px;
    border: 1px solid rgb(46, 173, 0); */
}


/* Sezione 5 */
.sez5 {
    background-color: white;
    padding: 30px;
}

.sez5 .container {
    align-items: center;
}

.sez5-cont:nth-child(1) {
    width: 70%;
    /* debug */
    /* min-height: 200px;
    background-color: powderblue;
    border: 1px solid rgb(104, 220, 62); */
}

.sez5-cont:nth-child(2) {
    width: 30%;
    /* debug */
    /* background-color: saddlebrown;
    min-height: 200px;
    border: 1px solid rgb(227, 255, 18); */
}

/* Sezione 6 */
.sez6 {
    background-color: hsl(0deg 0% 96.47%);
    padding: 100px;
    /* debug */
    /* background-color: teal;
    padding: 50px; */
}

.sez6-cont {
    text-align: center;
    /* debug */
    /* background-color: palegoldenrod;
    min-height: 200px;
    border: 1px solid rgb(216, 28, 131); */
}

.avvent .stars {
    background-image: url(../img/stars.svg);
    background-size: contain;
    padding: 20px;
    margin: 25px;
}

.avvent strong {
    font-size: 30px;
    font-family: sans-serif;
}

.down-blue {
    font-size: 24px;
    background-color: #255ee9;
    padding: 10px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}

/* Sezione 7 */
.sez7 {
    background-color: rgb(23, 33, 33);
    padding: 25px;
    /* debug */
    /* padding: 50px; */
}

.sez7 .container {
    align-items: top;
}

.sez7-cont {
    padding: 10px;
    font-size: 20px;

}

.social {
    font-size: 30px;
    color: white;
    padding: 15px;
}

/* .sez7-cont:first-child {
    /* debug */
/* background-color: salmon;
    min-height: 200px;
    border: 1px solid rgb(20, 0, 240); 
} */

.tit-foot {
    font-size: 30px;
    color: #255ee9;
    padding: 5px;
}

.sez7 .colonna {
    list-style: none;
}

.colonna a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.colonna li {
    padding: 10px;
}


.endlist-title {
    font-size: 25px;
    color: #255ee9;
}



.sez7-cont:nth-child(1n+2) {
    width: 20%;
    /* debug */
    /* background-color: aqua;
    min-height: 200px;
    border: 1px solid rgb(255, 60, 16); */
}

/* Footer */
footer {
    background-color: rgb(23, 33, 33);
    border-top: 1px solid #255ee9;

    /* debug */
    /* padding: 50px; */
}

footer .container {
    justify-content: space-between;
    /* debug */
    /* background-color: palegoldenrod; */
}

.foot-cont {

    margin: 50px 0;

    /* debug */
    /* min-height: 200px;
    border: 1px solid rgb(6, 125, 14); */
}

/* Waves */
.waveclass {
    /* background-color: white; */
    background-image: url(../img/wave.svg);
    margin: 0;
    min-height: 200px;
}

.trans {
    transform: scale(-1, -1);
}